@font-face {
    font-family: 'MightySouly';
    src: url('./fonts/MightySouly-lxggD.ttf');
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/el_pollo_loco_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'MightySouly';
    font-size: 7rem;
    color: orangered;
    text-align: center;
    margin: 0;
}

.volume {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.volume>img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

canvas {
    width: 1080px;
    height: 720px;
    background-color: black;
}

.overlay {
    width: 1080px;
    height: 720px;
    position: fixed;
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin-top: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton {
    width: 200px;
    height: 50px;
    background-color: orangered;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'MightySouly';
}

#resetButton {
    width: 200px;
    height: 50px;
    background-color: orangered;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'MightySouly';
    position: absolute;
    top: 80%;
}

#startButton:hover {
    background-color: black;
    color: white;
}

.start-image {
    width: 1080px;
    height: 720px;

}

.turn-device-overlay {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.turn-device-overlay>h1 {
    color: white;
}

.mobile-buttons-container {
    display: none;
}

@media screen and (max-width: 1180px) and (orientation: portrait) {
    .turn-device-overlay {
        display: flex;
    }
}

@media screen and (max-width: 1180px) and (orientation: landscape) {
    .turn-device-overlay {
        display: none;
    }
}

@media screen and (max-width: 1180px) and (orientation: landscape) {
    h1 {
        display: none;
    }

    .volume {
        z-index: 1;
    }

    canvas {
        width: 100%;
        height: 100vh;
    }

    .overlay {
        width: 100%;
        height: 100vh;
        background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 0;
        z-index: 2;
    }

    .mobile-buttons-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 12px;
    }

    .left-right-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        margin-left: 16px;
    }

    .jump-throw-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        margin-right: 16px;
    }

    .mobile-button {
        width: 50px;
        height: 50px;
        background-color: orangered;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
    }

    .mobile-button>img {
        width: 48px;
        height: 48px;
    }
}