@font-face {
    font-family: 'MightySouly';
    src: url('./fonts/MightySouly-lxggD.ttf');
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/el_pollo_loco_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* index.html desktop styles */

h1 {
    font-family: 'MightySouly';
    font-size: 7rem;
    color: orangered;
    text-align: center;
    margin: 0;
}

.volume {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.volume>img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.gameplay-info-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.gameplay-info-button>img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

canvas {
    width: 1080px;
    height: 720px;
    background-color: black;
}

.overlay {
    width: 1080px;
    height: 720px;
    position: fixed;
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin-top: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton, #closeInfoButton {
    width: 200px;
    height: 50px;
    background-color: orangered;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'MightySouly';
}

#resetButton {
    width: 200px;
    height: 50px;
    background-color: orangered;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'MightySouly';
    position: absolute;
    top: 80%;
}

#startButton:hover {
    background-color: black;
    color: white;
}

.start-image {
    width: 1080px;
    height: 720px;

}

.turn-device-overlay {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.turn-device-overlay>h1 {
    color: white;
}

.mobile-buttons-container {
    display: none;
}

.gameplay-info-overlay {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 48px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-family: Arial, sans-serif;
}

.desktop-gameplay-info, .mobile-gameplay-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 24px;
    margin: 16px;
    padding-top: 68px;
}

.mobile-gameplay-info {
    padding-top: 0;
}

.desktop-gameplay-info>h3, .mobile-gameplay-info>h3 {
    color: orangered;
    font-size: 48px;
    margin: 0;
    font-family: 'MightySouly';
}

#closeInfoButton {
    margin-top: 240px;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'MightySouly';
}

.imprint>a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin: 0 10px;
}

.imprint>a:hover {
    color: orangered;
}

.privacy-policy>a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin: 0 10px;
}

.privacy-policy>a:hover {
    color: orangered;
}

.home {
    position: absolute;
    top: 24px;
    left: 48px;
}

.home>a>img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* impressum.html desktop styles */
.imprint-container {
    height: 100%;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.imprint-container>h1 {
    color: orangered;
    font-size: 48px;
    margin: 0;
    align-self: center;
}

.imprint-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

.imprint-header>span>a {
    text-decoration: none;
    color: black;
}

.imprint-header>span>a:hover {
    color: orangered;
}

.imprint-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

.imprint-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

.imprint-footer>a {
    text-decoration: none;
    color: black;
}

.imprint-footer>a:hover {
    color: orangered;
}

/* datenschutz.html desktop styles */
.privacy-container {
    height: 100%;
    width: 98.5%;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.privacy-container>h1 {
    color: orangered;
    font-size: 48px;
    margin: 0;
    align-self: center;
}

.privacy-section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}