@media screen and (max-width: 1180px) and (orientation: portrait) {
    .turn-device-overlay {
        display: flex;
    }
}

@media screen and (max-width: 1180px) and (orientation: landscape) {
    /* index.html mobile styles */
    body {
        height: auto;
    }

    .turn-device-overlay {
        display: none;
    }
    
    .game-title {
        display: none;
    }

    .volume {
        z-index: 1;
    }

    .gameplay-info-button {
        z-index: 3;
    }

    .gameplay-info-overlay {
        z-index: 5;
        padding-top: 0;
        overflow: auto;
    }

    .gameplay-info-overlay>h1 {
        font-size: 48px;
    }

    .desktop-gameplay-info, .mobile-gameplay-info {
        font-size: 16px;
        padding-top: 0;
    }

    .desktop-gameplay-info>h3, .mobile-gameplay-info>h3 {
        font-size: 24px;
    }

    #closeInfoButton {
        margin-top: 24px;
        width: 150px;
    }

    canvas {
        width: 100%;
        height: 100vh;
    }

    .overlay {
        width: 100%;
        height: 100vh;
        background-image: url('../img/9_intro_outro_screens/start/startscreen_1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 0;
        z-index: 2;
    }

    .mobile-buttons-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 12px;
    }

    .left-right-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        margin-left: 16px;
    }

    .jump-throw-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        margin-right: 16px;
    }

    .mobile-button {
        width: 50px;
        height: 50px;
        background-color: orangered;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
    }

    .mobile-button>img {
        width: 48px;
        height: 48px;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .home {
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: 5;
    }

    /* impressum.html mobile styles */
    .imprint-container {
        width: auto;
        height: auto;
        overflow: auto;
        position: absolute;
        top: 16px;
    }

    .imprint-container>h1 {
        font-size: 32px;
    }

    .imprint-header {
        font-size: 16px;
    }

    .imprint-header>span>a {
        font-size: 16px;
    }

    .imprint-content {
        font-size: 16px;
    }

    .imprint-footer {
        font-size: 16px;
        flex-wrap: wrap;
    }

    .imprint-footer>a {
        font-size: 16px;
    }

    /* datenschutz.html mobile styles */
    .privacy-container {
        width: auto;
        height: auto;
        overflow: auto;
        position: absolute;
        top: 16px;
    }

    .privacy-container>h1 {
        font-size: 32px;
    }

    .privacy-section {
        font-size: 16px;
    }
}